*.bin
CRM/.gradle/8.5/checksums/checksums.lock
CRM/.gradle/8.5/dependencies-accessors/dependencies-accessors.lock
CRM/.gradle/8.5/dependencies-accessors/gc.properties
CRM/.gradle/8.5/executionHistory/executionHistory.lock
CRM/.gradle/8.5/fileHashes/fileHashes.lock
CRM/.gradle/8.5/gc.properties
CRM/.gradle/9.4.1/checksums/checksums.lock
CRM/.gradle/9.4.1/executionHistory/executionHistory.lock
CRM/.gradle/9.4.1/fileHashes/fileHashes.lock
CRM/.gradle/9.4.1/gc.properties
CRM/.gradle/buildOutputCleanup/buildOutputCleanup.lock
CRM/.gradle/buildOutputCleanup/cache.properties
CRM/.gradle/file-system.probe
CRM/.gradle/vcs-1/gc.properties
CRM/.idea/compiler.xml
CRM/.idea/gradle.xml
CRM/.idea/jarRepositories.xml
CRM/.idea/misc.xml
CRM/.idea/modules.xml
CRM/.idea/modules/CRM.test.iml
CRM/.idea/uiDesigner.xml
CRM/.idea/vcs.xml
CRM/.idea/workspace.xml
CRM/build/classes/java/main/ru/ovchinnikov/CRM/controller/HomeController.class
CRM/build/classes/java/main/ru/ovchinnikov/CRM/controller/UserController.class
CRM/build/classes/java/main/ru/ovchinnikov/CRM/model/Seller.class
CRM/build/classes/java/main/ru/ovchinnikov/CRM/model/SellerService.class
CRM/build/classes/java/main/ru/ovchinnikov/CRM/model/Transaction.class
CRM/build/classes/java/main/ru/ovchinnikov/CRM/model/TransactionService.class
CRM/build/classes/java/main/ru/ovchinnikov/CRM/repositories/SellerRepository.class
CRM/build/classes/java/main/ru/ovchinnikov/CRM/repositories/TransactionRepository.class
CRM/build/classes/java/main/ru/ovchinnikov/CRM/ui/CrmApplication.class
CRM/build/classes/java/test/ru/ovchinnikov/CRM/CrmApplicationTests.class
CRM/build/libs/CRM-0.0.1-SNAPSHOT-plain.jar
CRM/build/libs/CRM-0.0.1-SNAPSHOT.jar
CRM/build/reports/problems/problems-report.html
CRM/build/reports/tests/test/classes/ru.ovchinnikov.CRM.CrmApplicationTests.html
CRM/build/reports/tests/test/css/base-style.css
CRM/build/reports/tests/test/css/style.css
CRM/build/reports/tests/test/index.html
CRM/build/reports/tests/test/js/report.js
CRM/build/reports/tests/test/packages/ru.ovchinnikov.CRM.html
CRM/build/resolvedMainClassName
CRM/build/resources/main/application.properties
CRM/build/resources/test/application-test.properties
CRM/build/test-results/test/binary/output.bin.idx
CRM/build/test-results/test/TEST-ru.ovchinnikov.CRM.CrmApplicationTests.xml
CRM/build/tmp/bootJar/MANIFEST.MF
CRM/build/tmp/compileJava/compileTransaction/stash-dir/CrmApplication.class.uniqueId5
CRM/build/tmp/compileJava/compileTransaction/stash-dir/Seller.class.uniqueId0
CRM/build/tmp/compileJava/compileTransaction/stash-dir/SellerRepository.class.uniqueId4
CRM/build/tmp/compileJava/compileTransaction/stash-dir/SellerService.class.uniqueId3
CRM/build/tmp/compileJava/compileTransaction/stash-dir/Transaction.class.uniqueId2
CRM/build/tmp/compileJava/compileTransaction/stash-dir/UserController.class.uniqueId1
CRM/build/tmp/compileTestJava/compileTransaction/stash-dir/CrmApplicationTests.class.uniqueId0
CRM/build/tmp/jar/MANIFEST.MF
CRM/HELP.md
